.card-container{
    background-color: rgb(210, 209, 240);
    width:390px;
    height:450px;
    display:flex;
    border-radius: 20px;
    
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    img{
        width: 180px;
        height:180px;
        border-radius: 20%;
    }
    button{
        border-radius: 20px;
        background-color: rgb(217, 197, 249);
        
    }
}