<!-- <div>
    {{recipe.name}}
    <br><br>
    <img src="{{recipe.image}}" alt="">
    <br><br>
    {{recipe.tags}}
    <br><br>
    {{recipe.prepTimeMinutes}}
</div> -->
<!-- <div class="card-container"
    >
    
   
    <div class="title" >{{recipe.name | uppercase }}</div>
    <img [src]="recipe.image" alt="">
    <div><b>Preparation time: </b>{{recipe.prepTimeMinutes}}</div>
    <div>Difficulty:{{recipe.difficulty}}</div>
    <button (click)="goToRecipePage()">Tell me more</button>
</div> -->


<mat-card  appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{recipe.name | uppercase }}</mat-card-title>
  
    </mat-card-header>
    <img mat-card-image  [src]="recipe.image" alt="img">
    <mat-card-content>
      <p>
        <b>Preparation time: </b>{{recipe.prepTimeMinutes}}
      </p>

      <p>
        <b> Difficulty:</b>{{recipe.difficulty}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="goToRecipePage()">Tell me more</button>
    </mat-card-actions>
  </mat-card>