.form-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid bisque;
    border-radius: 2%;
    background-color: rgba(174, 202, 238, 0.492);
    padding: 4rem;
}