<header class="navbar">
    <div class="navbar__brand">
      <span class="logo-icon">🍲</span>
      <h1>Delicious Recipes</h1>

    </div>
  </header>
<h3>Recipes</h3>
<div class="search">
    <input type="text" placeholder="Search recipe" [(ngModel)]="searchValue" (ngModelChange)="filterValues()">

    <button class="add-button" (click)="redirectToAddRecipe()">➕ Add Recipes</button>
</div>

<div class="card-container">
    <!-- <app-recipe-card [recipe]="recipes[0]"> </app-recipe-card>
    <app-recipe-card [recipe]="recipes[1]"> </app-recipe-card>
    <app-recipe-card [recipe]="recipes[2]"> </app-recipe-card> -->
    <!-- @for (recipe of fileteredRecipes; track $index) {
        <app-recipe-card [recipe]="recipe"> </app-recipe-card>
    }@empty {
        <div>No items to display</div>
    } -->

    @for (recipe of fileteredRecipes; track $index){
        <app-recipe-card [recipe]="recipe"> </app-recipe-card>
    }@empty {
        <div>No items to display</div>
    } 
    
</div>
{{errorMassage}}


